body {
	width: 140px;
}

.header {
	display: flex;
	align-items: center;
}

.header img {
	margin-right: 10px;
	width: 32px;
	height: 32px;
}

.options-button {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	background: url(../images/gear-32.png);
	background-size: cover;
	background-color: #000000;
}

.options-button:hover {
	background-color: #d77039;
}

.collection-button,
.form-button {
	display: block;
	width: 140px;
	margin-bottom: 5px;
	padding: 5px;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-radius: 10px;
	border: none;
	background-color: #e3e3e3;
	color: #000000;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	text-align: center;
}

.collection-button:hover,
.form-button:hover {
	background-color: #d77039;
	color: #ffffff;
}

.hidden {
	display: none;
}