body {
    border-radius: 10px;
}

button {
	display: block;
	width: 140px;
	margin-bottom: 5px;
	padding: 5px;
	font-size: 10px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #000000;
	background-color: #fff;
	color: #000000;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	text-align: left;
}

button:hover {
	background-color: #d77039;
	color: #ffffff;
}

button:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(0, 122, 255, 0.4);
}