.header {
	display: flex;
	align-items: center;
}

.header img {
	margin-right: 10px;
	width: 32px;
	height: 32px;
}

.hidden {
	display: none;
}

body {
	width: 140px;
}

button {
	display: block;
	width: 140px;
	margin-bottom: 5px;
	padding: 5px;
	font-size: 10px;
	font-weight: bold;
	border-radius: 5px;
	border: 0px solid #000000;
	background-color: #d8d9e3;
	color: #000000;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	text-align: center;
}

button:hover {
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 1);
	background-color: #d77039;
	color: #ffffff;
}